{% extends "downloadapp/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block header %}
	<h3>Login to the Pi Store</h3>

{% endblock header %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


<div class="socialaccount_ballot">
  <p>Login with:</p>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p><a href="{{ signup_url }}">Create</a>a Pi Store account.</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% buttons %}
  <a class="button secondaryAction" role="button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary" role="button" type="submit">{% trans "Sign In" %}</button>
  {% endbuttons %}
</form>

{% endblock %}
