{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block header %}<h3>Register</h3>{% endblock header %}

{% block content %}


<div class="socialaccount_ballot">
  <p>Register with:</p>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Sign Up</button>
  {% endbuttons %}
  <p>By clicking sign up, you agree to the <a href="/site/private/">privacy policy</a> and <a href="/site/tos/">TOS.</a></p>
</form>

{% endblock %}
