{% load socialaccount %}
{% load account %}
<h2>
	<a href="{% url 'downloadapp:index' %}">Pi Store</a> - 
	<a href="{% url 'downloadapp:explore' %}">Explore!</a> - 
	<a href="{% url 'downloadapp:manage' %}">Manage</a> - 
</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

{% block content %}{% endblock content %}

<footer>
	<p>
	{% if user.is_authenticated %}
		{% if user.is_staff %}
			Status: authenticated as {{ user.username }} - <a href="/admin">Go to staff portal</a> - <a href="{% url 'account_logout' %}">log out</a>
		{% else %}
			Status: authenticated as {{ user.username }} - <a href="{% url 'account_logout' %}">log out</a>
		{% endif %}
	{% else %}
		Status: Not authenticated - <a href="{% url 'account_login' %}">log in</a>
	{% endif %}
	</p>
</footer>
