{% extends "downloadapp/base.html" %}

{% block header %}
	<h3>Explore:</h3> <small>Find packages</small>
{% endblock header %}

{% block content %}
	<h4>Newest packages:</h4>
	{% for package in packages %}
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="https://file.ac/FUt50I5XH8U/{{ package.shot }}" alt="{{ package.name }}">
					<div class="caption">
					<h3>{{ package.name }}</h3>
					<p>{{ package.simple_description }}</p>
					<p><a href="{% url 'downloadapp:package' package.id %}" class="btn btn-primary" role="button">Package Page</a> 
				</div>
			</div>
		</div>
	{% empty %}
		<p>There was an error loading packages.</p>
	{% endfor %}
{% endblock content %}

