{% extends "downloadapp/base.html" %}

{% block content %}

	
	<h3>Explore!</h3>
	<p>This will be the main way you will find packages.</p>
	<h4>Newest packages:</h4>
	<ul>
		{% for package in packages %}
			<li>
				<div>
					<h4>{{ package }}</h4>
					<!--Nice thing to make the images load.-->
					<img src="https://file.ac/EWLnE13zcKA/{{ package.shot }}" alt={{ package }}>
					<p>{{ package.description }}</p>
					<p>Installed {{ package.installs }} times</p>
					<a href="{% url 'downloadapp:package' package.id %}">Go to product page</a>
					
				</div>
			</li>
		{% empty %}
			<p>There was an error loading packages.</p>
		{% endfor %}
	</ul>
{% endblock content %}
