{% extends "downloadapp/base.html" %}
{% load bootstrap3 %}

{% block header %}
	<h3>Manage</h3>
	<script type="text/javascript">    
		function wait(){
		  setTimeout(function() {window.location.reload();}, (1 * 2000));
		}
	</script>
{% endblock header %}

{% block content %}
	
	<h4>Your packages:</h4>
	{% for package in packages %}
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="https://file.ac/FUt50I5XH8U/{{ package.shot }}" alt="{{ package.name }}">
					<div class="caption">
					<h3>{{ package.name }}</h3>
					<p>{{ package.simple_description }}</p>
					{% buttons %}
						<a href="{% url 'downloadapp:uninstall'  package.id %}" download="" onclick="wait()" class="btn btn-default" role="button">Uninstall</a>
						
					{% endbuttons %}
				</div>
			</div>
		</div>
	{% empty %}
		<p>You haven't downloaded anything yet! <a href="{% url 'downloadapp:explore' %}" class="btn btn-primary" role="button">Explore to get packages.</a></p>
		{% endfor %}
{% endblock content %}
