{% extends "downloadapp/base.html" %}

{% block content %}

	<h4>{{ package }}</h4>
	
	<img src="https://file.ac/EWLnE13zcKA/{{ package.shot }}" alt={{ package }}>
	<br>
	<article>
		<p>{{ package.formatted_markdown|safe }}</p>
	</article>
	<p>Has been installed {{ package.installs }} times.</p>
	<p>Made by {{ package.owner }}</p>
	{% if has_package %}
		<p>You have this</p>
	{% else %}
		<a href="{% url 'downloadapp:download' package.id %}">Download {{ package }}</a>
	{% endif %}
{% endblock content %}

